/*Style that applies to index page*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*css for all site content*/
.main-box{
    width: 414px;
    border-color: black;
    border-style:solid;
}



/*CSS for Heading box*/
.heading-box{
    display: flex;
    background-color: rgb(90, 90, 250);
}

#icon{
    background-color: gray ;
}
/*end of css for heading box*/


/*CSS for The stat box*/
.stat_box {
    background-color: rgb(217, 219, 243);
    width: max-content;
    margin:5px;
}
.stat_title{
    color: whitesmoke;
    background-color: grey;
    margin: 0;
    
}
/*end of CSS for The stat box*/


.stat_p{
    margin-top: 5px;
    margin-bottom: 5px;
}


/*CSS for notice messages*/
#notice{
    align-items: center;
    color: white;
    background-color: rgb(161, 161, 161);
    
    height: 50px;
}

.warn{
    align-items: center;
}