/*Style that applies to index page*/
body {
}

/*css for all site content*/
.main-box{
    display: flex;
    flex-direction: column;
    width: 414px;
    border-color: black;
    border-style:solid;
}
/*end of css for site content*/



/*CSS for Heading box*/
.heading-box{
    display: flex;
    justify-content: center;
    background-color: rgb(90, 90, 250);
    
}

#icon{
    background-color: gray ;
    
}
/*end of css for heading box*/


/*CSS for The stat box*/
.stat_box {
    background-color: rgb(217, 219, 243);
    width: fit-content;
    margin:5px;
}
.stat_title{
    color: whitesmoke;
    background-color: grey;
    margin: 0;
    
}

.stat_p{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*end of CSS for The stat box*/

/*CSS for notice messages*/
#notice{
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    color: white;
    background-color: rgb(161, 161, 161);
    height: 50px;
}

.warn{
    align-items: center;
}
/*end of CSS for notice messages*/
#lrnmr{
    align-self: center;
}
